.logo {
    font-family: $font-logo;
    font-size: 70px;
    color: $color-primary;
    width: 40%;
}

.login {
    font-size: 30px;
    background-color: $color-white;
    color: $color-primary;
    border: 2px solid $color-primary;
    width: 25%;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
}

.button {
    background-color: $color-primary;
    color: $color-white;
    text-align: center;
    padding: 30px 100px;
    border: 30px 30px;
    border-radius: 10px;
    font-size: 30px;
    width: 35%;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: $color-white;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a:link,
a:visited {
    text-decoration: none;
}

a {
    color: $color-primary;
}
